<section data-ng-controller="ExperiencesController" data-ng-init="findOne()">
    <h1>{{experience.awardee.name}}</h1>
    <span>{{experience.created | date:'medium'}}</span> /
    <br/>
    <h2>{{experience.xp}}</h2>
    <h4>Awarded by: {{experience.awarder.name}}</h4>
    <div data-ng-show="global.user._id == experience.user._id">
        <a class="btn" href="/#!/xp/{{experience._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{experience.description}}</div>
</section>
