<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<ul class="articles unstyled">
		<li data-ng-repeat="article in articles">
            <h2>{{article.awardee.name}}</h2>
            <br/>
			<span>{{article.created | date:'medium'}}</span>
            <h3>{{article.xp}}</h3>
			<h4>Awarded by: {{article.awarder.name}}</h4>
			<h2><a data-ng-href="#!/articles/{{article._id}}">View detail</a></h2>
			<div>{{article.description}}</div>
		</li>
	</ul>
	<h1 data-ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="/#!/articles/create">Create One</a>?</h1>
</section>