<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <h1>{{article.awardee.name}}</h1>
    <span>{{article.created | date:'medium'}}</span> /
    <br/>
    <h2>{{article.xp}}</h2>
    <h4>Awarded by: {{article.awarder.name}}</h4>
    <div data-ng-show="global.user._id == article.user._id">
        <a class="btn" href="/#!/articles/{{article._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{article.description}}</div>
</section>
