<!-- Dependent on
	<link rel="stylesheet" href="http://localhost:3000/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="http://localhost:3000/css/common.css">
	<link rel="stylesheet" href="http://localhost:3000/css/experience-single.css">
-->

<!-- loop -->
<li class="experience-row">
	<div class="experience-row-container">
		<div class="user-image">
			<img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-ash3/t1.0-9/923036_10100780189750888_729423350_n.jpg" class="profile-small img-responsive"/>
		</div>
		<div class="experience-meta">
			<span class="user-name">Rock</span>
			<span class="date-awarded">10min ago</span>
			<span class="award-description">Being awesome</span>
		</div>
		<div class="experience-awarded">+10</div>
	</div>
</li>
<!-- end loop -->
