<!-- dependent on
	<link rel="stylesheet" href="http://localhost:3000/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="http://localhost:3000/css/common.css">
	<link rel="stylesheet" href="http://localhost:3000/css/experience-single.css">
-->
<div class="container">
	<div id="user-experience-header">
		<img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-ash3/t1.0-9/923036_10100780189750888_729423350_n.jpg" class="profile-medium img-responsive"/>
		<span class="experience-points">340</span>
	</div>
	<ul class="list-unstyled">
	<!-- loop from experience-single.html -->
	</ul>
</div>
